<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_id }}Label">{{ title }}</h5>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">


        <form method="POST" action="{{ action_url }}">
          <input type="submit" class="btn btn-danger" value="Confirm">
        </form>
        <a class="btn app-btn-secondary" data-bs-dismiss="modal" href="{{ url_for('users') }}">Cancel</a>
      </div>
    </div>
  </div>
</div>
