{% extends "admin/base.html" %}


{% block content %}
    <style>
        textarea {
            font-family: 'Courier New', monospace;
            font-size: 12px !important;
            white-space: pre;
            overflow-x: auto;
        }
    </style>
    <script src="../../static/js/socket.io.js"></script>
    <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
            <h1 class="app-page-title mb-0">Inputs</h1>
        </div>

    </div><!--//row-->


    <div class="tab-content" id="orders-table-tab-content">
        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
            <div class="app-card app-card-orders-table shadow-sm mb-5">
                <div class="app-card-body">
                    <div class="table-responsive">
                        <table class="table app-table-hover mb-0 text-left">
                            <thead>
                            <tr>
                                <th>Controller</th>
                                <th>Inputs</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for controller in all_controllers %}
                                <tr id="controller-{{ controller.id }}">
                                    <td>{{ controller.name }}</td>
                                    <td class="status">
                                        {% for input in range(1, 17) %}
                                            <button id="button-{{ controller.id }}-{{ input }}" type="button"
                                                    class="btn btn-outline-success btn-rounded disabled"
                                                    data-mdb-ripple-color="dark">{{ input }}</button>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div><!--//table-responsive-->


                </div><!--//app-card-body-->
            </div><!--//app-card-->
            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" id="filter-history" type="text"
                                           placeholder="Filter by controller name...">
                                </div>
                                <div class="col-auto">
                                    <a class="btn app-btn-secondary" id="toggleAutoScroll">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
                                        </svg>
                                        <span id="autoScrollText">Auto-Scroll On</span>
                                    </a>
                                </div>
                            </div>

                            <textarea class="form-control" id="history-textarea" rows="10" readonly></textarea>


                        </div>
                    </div>
                </div>

            </div>

        </div><!--//tab-pane-->
    </div><!--//tab-content-->
    <script src="../static/js/toggle_auto_scroll.js"></script>
    <script src="../static/js/filter_history_data.js"></script>
    <script src="../static/js/add_input_to_history.js"></script>

    <script>


        const autoScrollToggle = new AutoScrollToggle('toggleAutoScroll', 'autoScrollText');
        const history = new DataFilter('filter-history', autoScrollToggle);

        window.onload = function () {
            var socket = io();
            socket.on('connect', function () {
                socket.emit('input_history_request');
            });


            socket.on('input', function (data) {
                    console.log(data)
                    addInputToHistory(data, history)
                    let button = document.getElementById(`button-${data.id}-${data.input}`);
                    if (button) {
                        if (data.status === 'FALLING_EDGE') { // If the state is true
                            button.classList.remove("btn-outline-success");
                            button.classList.add("btn-success");
                        } else {
                            button.classList.remove("btn-success");
                            button.classList.add("btn-outline-success");
                        }
                    }
                }
            );
            socket.on('input_history', function (data) {
                    addInputToHistory(data, history)
                }
            );

            socket.on('input_value', function (data) {
                history.push(data.data); // Store all incoming data
                history.filterData();
            });

        }

    </script>


{% endblock %}