{% extends 'admin/base.html' %}
{% block content %}
    <style>
        textarea {
            font-family: 'Courier New', monospace;
            font-size: 12px !important;
            white-space: pre;
            overflow-x: auto;
        }
    </style>

    <link href="../static/css/vis.min.css" rel="stylesheet" type="text/css"/>

    <script src="../static/js/vis.min.js"></script>
    <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
            <h1 class="app-page-title mb-0">Overview</h1>
        </div>


    </div><!--//row-->



    <div class="tab-content" id="orders-table-tab-content">
        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
            <div class="app-card app-card-orders-table shadow-sm mb-5">
                <div class="app-card-body">
                    <div class="row">
                        <div class="col">
                            <input class="form-control" id="filter-vis" type="text"
                                   placeholder="Filter by controller name...">
                        </div>
                        <div class="col-auto">
                            <a class="btn app-btn-secondary" id="toggleAutoScrollDisplay">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
                                </svg>
                                <span id="autoScrollDisplayText">Auto-Scroll On</span>
                            </a>
                        </div>
                    </div>

                    <div id="visualization" style="max-height: 500px; overflow-y: auto;"></div>


                </div><!--//row-->
            </div><!--//row-->
        </div><!--//row-->
    </div><!--//row-->
    <div class="tab-content" id="orders-table-tab-content">
        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
            <div class="app-card app-card-orders-table shadow-sm mb-5">
                <div class="app-card-body">
                    <div class="row">
                        <div class="col">
                            <input class="form-control" id="filter-history" type="text"
                                   placeholder="Filter by controller name...">
                        </div>
                        <div class="col-auto">
                            <a class="btn app-btn-secondary" id="toggleAutoScrollHistory">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
                                </svg>
                                <span id="autoScrollHistoryText">Auto-Scroll On</span>
                            </a>
                        </div>
                    </div>

                    <textarea class="form-control" id="history-textarea" rows="10" readonly></textarea>


                </div>
            </div>
        </div>

    </div>
    <script src="../static/js/toggle_auto_scroll.js"></script>
    <script src="../static/js/filter_history_data.js"></script>
    <script src="../static/js/add_input_to_history.js"></script>
    <script src="../static/js/add_leds_to_history.js"></script>
    <script src="../static/js/add_audio_to_history.js"></script>
    <script src="../static/js/visualization.js"></script>
    <script>

        window.onload = function () {

            const autoScrollToggleDisplay = new AutoScrollToggle('toggleAutoScrollDisplay', 'autoScrollDisplayText');
            const autoScrollToggleHistory = new AutoScrollToggle('toggleAutoScrollHistory', 'autoScrollHistoryText');
            const history = new DataFilter('filter-history', autoScrollToggleHistory);

            const groupsData = [
                {% for controller in all_controllers %}
                    {id: '{{ controller.id }}', content: '{{ controller.name }}'},
                {% endfor %}
            ];

            const vis = new VisSetting(groupsData, autoScrollToggleDisplay, 'filter-vis')

            var socket = io();
            socket.on('connect', function () {
                socket.emit('audio_history_request');
                socket.emit('input_history_request');
                {#socket.emit('led_history');#}
            });


            socket.on('audio', function (data) {
                console.log(data)
                addAudioToHistory(data, history); // Store all incoming data
                {#history.filterData();#}
                vis.audio_update(data)
            });


            socket.on('input', function (data) {
                console.log(data)
                addInputToHistory(data, history)
                vis.input_update(data)
            });

            socket.on('input_history', function (data) {
                    console.log(data)
                    addInputToHistory(data, history)
                    vis.input_update(data)
                }
            );

            socket.on('audio_history', function (data) {
                    console.log(data)
                    addAudioToHistory(data, history)
                    vis.audio_update(data)
                }
            );

            socket.on('leds', function (data) {
                console.log(data)
                addLedsToHistory(data, history)
                vis.led_update(data)
            });


        }
    </script>

{% endblock %}
