{% extends "admin/base.html" %}

{% block content %}
<div class="col-md-8 mx-auto">
<h1 class="app-page-title">Change password</h1>

    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <form method="POST">
            {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.OldPassword.label(class="form-control-label form-label") }}
            {{ form.OldPassword(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.NewPassword.label(class="form-control-label form-label") }}
            {{ form.NewPassword(class="form-control") }}
          </div>
            {{ form.submit(class="btn app-btn-primary") }}
            <a class="btn app-btn-secondary" href="{{ url_for('users') }}">Cancel</a>
        </form>
    </div><!--//app-card-body-->

    </div><!--//app-card-->
</div>

{% endblock %}
